.link{
  background-color:#FFFFFF;
  color:black;
  opacity:50%;
  display:flex;
  justify-content:space-around;
  margin-top:6%;
  text-decoration:none;
}

body, html {
    background-color: #000;
    padding: 0;
    margin: 0;
}
.slider {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 150px;
    color: white;
    font-family: sans-serif;
    text-align: right;
}
.slider input {
    width: 100%;
    margin-bottom: 5px;
}
.text{
    background-color:black;
    margin: 30 10 10 40 40;
    position:absolute;
}

h1 {
    text-align: left;
    padding-top: 30px;
    margin: 20 10 10 20;
}

p {
    color: white;
    text-align: center;
    padding-left: 25em;
    padding-right: 20em;
    font-size: large;
    font-family: Baskerville, Baskerville Old system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: thick;
    border-color: orange;
    font-size: bold;
    padding-top: 4em;
}

body{
    margin: 0;
    overflow: hidden;
    background: #000;
    }
    
    i{
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      -webkit-animation: 'screen'  infinite;
      animation: 'screen'  infinite;
    }
    
    
    i:nth-child(1){
      top:20px;
      left:30px;
        background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(2){
      top:420px;
      left:30px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047;
      animation-duration: 21s;
    }
    
    i:nth-child(3){
      top:550px;
      left:880px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(4){
      top:5px;
      left:1030px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047;
      animation-duration: 4s;
    }
    
    i:nth-child(5){
      top:280px;
      left:12px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(6){
      top:550px;
      left:30px;
    background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
    box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 6s;
    }
    
    i:nth-child(7){
      top:650px;
      left:50px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 15s;
    }
    
    i:nth-child(8){
      top:20px;
      left:860px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 5s;
    }
    i:nth-child(9){
      top:896px;
      left:132px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 13s;
    }
    
    i:nth-child(10){
      top:578px;
      left:357px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 4s;
    }
    
    i:nth-child(11){
      top:380px;
      left:230px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 5s;
    }
    
    i:nth-child(12){
      top:570px;
      left:1100px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 6s;
    }
    
    i:nth-child(13){
      top:600px;
      left:600px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 7s;
    }
    
    i:nth-child(14){
      top:200px;
      left:520px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 14s;
    }
    
    i:nth-child(15){
      top:370px;
      left:500px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 9s;
    }
    
    i:nth-child(16){
      top:620px;
      left:730px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #190047; 
      animation-duration: 3s;
    }
    i:nth-child(17){
      top:62px;
      left:330px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 4s;
    }
    
    i:nth-child(18){
      top:0px;
      left:250px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(19){
      top:600px;
      left:180px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 6s;
    }
    
    i:nth-child(20){
      top:987px;
      left:13px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 7s;
    }
    
    i:nth-child(21){
      top:120px;
      left:930px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 8s;
    }
    
    i:nth-child(22){
      top:80px;
      left:700px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(23){
      top:350px;
      left:720px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 2s;
    }
    
    i:nth-child(24){
      top:997px;
      left:678px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 3s;
    }
    
    i:nth-child(25){
      top:714px;
      left:246px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 4s;
    }
    
    i:nth-child(26){
      top:0px;
      left:480px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
    box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(27){
      top:456px;
      left:1000px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 6s;
    }
    
    i:nth-child(28){
      top:350px;
      left:865px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 7s;
    }
    
    i:nth-child(29){
      top:100px;
      left:100px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
    box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 8s;
    }
    
    i:nth-child(30){
      top:1087px;
      left:722px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 9s;
    }
    
    i:nth-child(31){
      width:200px;
      height:200px;
      top:795px;
      left:605px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 1s;
    }
    
    i:nth-child(32){
      top:234px;
      left:678px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 2s;
    }
    
    i:nth-child(33){
      top:270px;
      left:1230px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 3s;
    }
    i:nth-child(34){
      width:200px;
      height:200px;
      top:1126px;
      left:332px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      webkit-animation-duration: 4s;
    }
    
    i:nth-child(35){
      top:407px;
      left:83px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 5s;
    }
    
    i:nth-child(36){
      width:200px;
      height:200px;
      top:176px;
      left:297px;
      background: -webkit-radial-gradient(center, ellipse cover,  white,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 6s;
    }
    
    i:nth-child(37){
      width:300px;
      height:300px;
      top:820px;
      right:10px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 7s;
    }
    
    i:nth-child(38){
      top:500px;
      left:500px;
      background: -webkit-radial-gradient(center, ellipse cover,  white 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #190047;
      animation-duration: 8s;
    }
    
    
    
    @keyframes screen {
      from {
        opacity: 0;
      }
    
      25%{
        opacity: 0.3;
        transform: scale3d(3, 3, 4);
      }
    
      50%{
        opacity: 0.75;
      }
    
      75%{
        opacity: 1;
    
      }
    
      to{
        opacity: 0;
      }
    }

h1 {
    color: white;
        font-size: 100px;
        
}

.edit {
  position: absolute;
}
